<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TYCHE - System Obsługi Egzaminu Inżynierskiego</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/lang.js"></script>

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="css/tyche.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>




<body ng-app="myApp" ng-controller="myCtrl">

    <div id="wrapper" class="border2">

         <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <a class="navbar-brand" href="#/">TYCHE - System Obsługi Egzaminu Inżynierskiego</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav" ng-show="visibleMenu">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> IMIĘ I NAZWISKO <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/profile"><i class="fa fa-fw fa-user"></i> Profil</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-click="logout()"><i class="fa fa-fw fa-power-off"></i> Wyloguj</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div>
              <select ng-options="language | translate for language in languages" ng-model="language" ng-change="updateLanguage()"></select>
             </div>


            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse" ng-show="visibleMenu">
  <ul class="nav navbar-nav side-nav">
    <li ng-repeat="item in menuTree" ng-class="{ active: item.active }">
      <a href="{{ item.path }}" ng-if="!item.submenu">
        <i ng-if="item.icon" class="fa fa-fw {{ item.icon }}"></i>
        {{ item.name }}
      </a>
      <a href="javascript:;" ng-if="item.submenu" data-toggle="collapse" data-target="#{{ item.target }}"><i class="fa fa-fw fa-caret-down"></i>{{ item.name }}</a>
      <ul id="{{ item.target }}" ng-if="item.submenu" class="collapse">
        <li ng-repeat="subItem in item.submenu">
          <a href="{{ subItem.path }}">{{ subItem.name }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

            <!-- /.navbar-collapse -->
        </nav>

        <div ng-view id="page-wrapper" class="border2"></div>

        <script src="bundle.js"></script>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>

</body>

</html>
