<div id="page-wrapper" class="border2">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ 'WELCOME' | translate }}</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
              {{ 'MESSAGE' | translate }}
<br />
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget urna quis magna porttitor vulputate eget rutrum magna. Vestibulum vestibulum est nec elit dignissim viverra. Cras purus nunc, hendrerit ut justo molestie, venenatis eleifend quam. Maecenas sed lacus pretium, viverra arcu vitae, tempus velit. Praesent sed lobortis odio. Pellentesque congue, sapien nec ultricies dignissim, tortor lectus dapibus quam, ac rutrum elit est eget ligula. Aenean dolor velit, mollis nec volutpat in, rutrum lobortis leo.

Nunc nec elit quis magna maximus tincidunt. Aenean porttitor fermentum sem nec dapibus. Vestibulum eu dui vitae tortor consequat efficitur quis ut lectus. Sed eros tellus, consequat at blandit convallis, semper sit amet ipsum. Aenean orci nisl, ornare in nunc ac, gravida venenatis dolor. Nunc tincidunt sollicitudin dolor, eu lobortis urna congue at. Integer fermentum sapien ultrices ex venenatis interdum.

Etiam vulputate vehicula nulla. Ut ultricies hendrerit quam, id mollis nibh finibus nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. In hac habitasse platea dictumst. Phasellus eleifend vitae mauris at iaculis. Morbi vel nulla velit. Maecenas ut efficitur magna. Nunc ac orci quis arcu tristique scelerisque id non dolor. Aliquam ut magna varius, pulvinar tortor nec, posuere nisl. Donec tincidunt, est eget scelerisque mattis, dolor nisl bibendum ligula, eu pulvinar tellus nisl vitae ante.

Mauris nec ultrices lectus, sed gravida nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent consectetur laoreet libero, sit amet dignissim eros. Proin tristique accumsan dignissim. Phasellus placerat laoreet libero, vel auctor nisl placerat eu. Nam aliquet dui et placerat facilisis. Proin faucibus, sem quis pellentesque malesuada, purus ipsum venenatis tortor, quis imperdiet odio erat ut nulla.

Suspendisse aliquam ac ligula ut porta. Cras suscipit, odio sit amet consequat ornare, velit est blandit sapien, facilisis dictum risus lacus sed mauris. In tortor mi, auctor eget tincidunt et, mattis ac massa. In est ex, porta id maximus quis, luctus ut nisi. Nunc mi purus, rutrum et massa quis, vestibulum vulputate felis. Pellentesque efficitur ante nisl, nec viverra lorem venenatis eu. Sed feugiat lacus quam, in posuere leo convallis in. Mauris porttitor convallis enim at porttitor. Aliquam nibh metus, molestie at dolor a, rhoncus malesuada turpis. Proin volutpat ullamcorper nisl sodales scelerisque. Proin ac pharetra nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum in erat laoreet, tempor sem nec, rhoncus nisl. Nullam id urna vitae tortor fringilla elementum non et nisl. Duis eget risus magna.
            </div>
        </div>
        <!-- /.row -->



    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
