    <div class="container">

        <div class="container col-sm-4"> </div>

        <div class="container col-sm-4">

        <form method="post" class="form-signin">
            <div class="form-signin-heading">Zaloguj się </div>

            <label for="username"  class="sr-only"></label>
            <input type="text" ng-model="username" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Identyfikator" required autofocus/>

            <label for="password" class="sr-only"></label>
            <input type="password" ng-model="password" id="password" name="_password" class="form-control" placeholder="Hasło" required/>

            <label for="remember">Rememeber me</label>
            <input type="checkbox" ng-model="rememberMe" id="remember" name="_remember" placeholder="Rembember me"/>

            <input type="hidden" name="_target_path" value="/account" />

            <button class="btn btn-lg btn-primary btn-block" ng-click="login()">login</button>
            {{ error }}
        </form>

        </div>

        <div class="container col-sm-4"></div>
    </div>
