<div id="page-wrapper" class="border2">
    <div class="container content">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Webcam</h1>
                <button ng-click="captureImage()">Capture Image</button>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
              <video id="video" width="400" height="300" autoplay></video>
              <canvas id="canvas" width="400" height="300"></canvas>
            </div>
        </div>
    </div>
</div>
